<!DOCTYPE hmtl>
<html>
  <head>
    <title>Suggestion Box</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <script src="js/vendor/angular.min.js"></script>
  </head>

  <body ng-app="SuggestionBoxApp" ng-controller="HomeController">

    <h1>{{helloWorld}}</h1>

    <div id="suggestions">
      <div class="container">
        <div class="main" ng-repeat="post in posts | orderBy: 'upvotes': true">

          <div class="row suggestion">
            <h3>{{post.message}}</h3>
          </div>

          <div class="row analytics">
            <p>
              <span class="glyphicon glyphicon-thumbs-up" ng-click="upVote($post)">
                Likes: {{post.upvotes}} |
                <span class="glyphicon glyphicon-comment">
                  Comments: {{post.commentsPopularity}} <!-- Still need to add route to go comment page -->
                </span>
              </span>
            </p>
          </div>
        </div>
      </div>
    </div>


    <app-form info="posts"></app-form>


    <!--plugins -->

    <!--Modules -->
    <script src="js/app.js"></script>
    <!--Controllers -->
    <script src="js/controllers/HomeController.js"></script>
    <!--Directives -->
    <script src="js/directives/appForm.js"></script>
    <!--Services -->
    <script src="js/services/data.js"></script>

  </body>

</html>
