html, body {
  background-color: rgba(24,36,66,1);
}

#suggestions, #suggestions .row a {
  color: #fff;
  text-decoration: none;
}

#suggestions {
  text-align: center;
  border:
}

#suggestions .row.suggestion {
  -webkit-transition: background .5s linear;
-moz-transition: background .5s linear;
-ms-transition: background .5s linear;
-o-transition: background .5s linear;
transition: background .5s linear;
background-color: transparent;
}

#suggestions .row.suggestion:hover {
  background-color: green;
}

#suggestions .row.analytics {
  text-align: left;
}

.header {
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 2em;

}

.analytics .glyphicon-thumbs-up {
  cursor: pointer;
}

.commentsPage .glyphicon-chevron-left {
  position: absolute;
  font-size: 5em;
  margin-top: 5em;
  margin-right: 10em;
  color: Green;
  border-radius: 100%;
  background-color: red;
}

.commentsPage .commentsBody .comments h3, .commentsPage .commentsBody .comments h5 {
  display: inline;
}

.commentsPage .commentsBody {
  color: #fff;
}
