html, body {
  background-color: rgba(24,36,66,1);
}

#suggestions, #suggestions .row a {
  color: #fff;
  text-decoration: none;
}

#suggestions {
  text-align: center;
  border:
}

#suggestions .row.suggestion {
  -webkit-transition: background .5s linear;
-moz-transition: background .5s linear;
-ms-transition: background .5s linear;
-o-transition: background .5s linear;
transition: background .5s linear;
background-color: transparent;
}

#suggestions .row.suggestion:hover {
  background-color: green;
}

#suggestions .row.analytics {
  text-align: left;
}

.header {
  text-align: center;
  text-transform: uppercase;
}

.header .underline {
  height: 1px;
  width: 30em;
  background-color: rgba(255, 255, 255, 0.5);
  margin-left: 32%;
  margin-top: 2em;
}

.analytics .glyphicon-thumbs-up {
  cursor: pointer;
}
