<div class="addSuggestion container">
  <form class="form-inline" ng-submit="addSuggestion()">
    <div class="form-group">
        <p class="error">{{errorSuggestionCheck}}</p>
        <input type="text" id="S" class="form-control" placeholder="Submit A Suggestion" ng-model="message"></input>
    </div>
    <div class="form-group">
        <p class"error">{{errorNameCheck}}</p>
        <input type="text" id="Sname" class="form-control" placeholder="Enter Your Name" ng-model="from"></input>
    </div>
      <button type="submit" class="btn btn-primary">Suggest</button
  </form>
</div>
