<div id="suggestions">
  <div class="container">
    <div class="main" ng-repeat="post in posts | orderBy: 'upvotes': true">

      <div class="row suggestion">
        <a href="#/comments/{{posts.indexOf(post)}}">
          <h3>{{post.message}}</h3>
        </a>
      </div>

      <div class="row analytics">
        <p>
          <span class="glyphicon glyphicon-thumbs-up"  ng-click="upVote(post)"></span>
            Likes: {{post.upvotes}} |
            <span class="glyphicon glyphicon-comment"></span>
              Comments: {{post.commentsPopularity}} <!-- Still need to add route to go comment page -->
            </span>
          </span>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="footer">
  <div class="container">
    <h1 ng-click="showDialog($event)">Submit Your Suggestion!</h1>
    </div>
</div>


<app-form info="posts"></app-form>
